$accent: #9ec6e8
$white: #fff
$black: #000000
$max-width-global: 1000px
$global-margin: 20px
$global-padding: 20px
$global-radius: 5%
$link-color: $accent
$sm-max-width: 360px
$md-max-width: 600px
$lg-max-width: 800px
$xl-max-width: 1200px
//
// Add whatever variables you would like made available to the whole app
//
